<div class="navigation">
    <div class="navigation__sub">
        <div class="logo">
            <span>Jakub</span>
            <span class="bigger">T</span>
        </div>
        <button type="button" class="hamburger" aria-expanded="false"></button>
    </div>
    <nav>
        <ul class="navigation__main">
            <li><a href="#aboutme" class="nav-links">About Me</a></li>
            <li><a href="#projects" class="nav-links">Projects</a></li>
            <li><a href="#services" class="nav-links">Services</a></li>
            <li><a href="#contactme" class="nav-links">Contact Me</a></li>
        </ul>
    </nav>
    <script src="/js/aest/hamburger.js" defer></script>
</div>