<nav>
  <ul class="navigation__main">
    <li><a href="#work" class="nav-links">Work</a></li>
    <li><a href="#about" class="nav-links">About</a></li>
    <li><a href="#contact" class="nav-links">Contact</a></li>
  </ul>
</nav>
