@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500&display=swap');

:root{
  --page-main: #fff;
  --page-sec: #1c1c1c;
  --page-third: rgba(154, 207, 255, 0.5);
}
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
body{
  margin: 0;
  background: var(--page-main);
  font-family: 'Castoro', serif;
  overflow-x: hidden;
}

nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  mix-blend-mode: difference;
  z-index: 2;
}

nav ul{
  padding: 0;
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li{
  list-style: none;
}

nav li a{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--page-main);
  display: block;
  font-size: clamp(20px, 1.5vw , 24px);
}

nav li a:hover{
  text-decoration: underline 1px solid;
}
footer{
  margin-top: 100px;
  width: 100%;
  border-top: 1px solid var(--page-sec);
  text-align: center;
}

footer a{
  text-decoration: underline;
  color: var(--page-sec);
  font-size: clamp(24px , 2vw , 48px);
}



/* ! HERO START */

/* * BLOB FOLLOWING MOUSE CSS */

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: clamp(100px , 25vmax, 600px);
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(10vmax);
}

/* * BLOB FOLLOWING MOUSE CSS */

.hero{
  background: var(--page-sec);
  color: var(--page-main);
  width: 100%;
  height: clamp(600px, 100vh, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.hero h1.name{
  all: unset;
  font-size: clamp(64px, 8vw, 128px);
  text-align: center;
  z-index: 1;
}

.hero h2.proffesion{
  all: unset;
  font-size: clamp(36px , 2.9vw , 48px);
  margin: 0 45px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

@media (width < 1100px){
  .hero{
    gap: 50px;
  }
}
.mouse-icon{
  position: absolute;
  bottom: 2rem;
  z-index: 1;
}

.mouse-icon #scroll{
  animation: mouseMove 1500ms infinite;
}

@keyframes mouseMove {
  from{
    y: 7px;
    opacity: 1;
  }
  to{
    y: 20px;
    opacity: 0;
  }
}
/* ! HERO END */

section{
  width: 100%;
  padding: 50px 0;
  z-index: 3;
}

/* ! WORK SECTION START */

section#work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 140px;
}


section#work h2{
  all: unset;
  font-size: clamp(40px , 4vw, 64px);
}

.projects-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.project{
  width: clamp(350px , 90%, 460px);
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 25px;
  border: 1px solid var(--page-sec);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}

#main{
  width: clamp(400px, 95%, 500px);
}

@media (width < 1500px){
  #main{
    width: clamp(350px , 90%, 460px);
  }
}
@media (width < 1450px){
  section#work{
    gap: 80px;
  }
  .projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

}
.project-img{
  width: 100%;
  border: 1px solid var(--page-sec);
  border-radius: 12px;
}
.project-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Be Vietnam Pro', sans-serif;

}
.project-type{
  text-align: left;
  font-weight: 300;
  font-size: clamp(16px, 1.7vw, 24px);
  color: var(--page-sec);
}

.project-name{
  all: unset;
  text-align: center;
  font-weight: 500;
  font-size: clamp(24px, 2vw, 36px);
}

.project-more{
  all: unset;
  text-align: right;
  font-weight: 300;
  font-size: clamp(16px, 1.7vw, 24px);
  color: var(--page-sec);
  cursor: pointer;
}

.project-more:hover > span{
  border-bottom: 1px solid var(--page-sec);
}
/* ! WORK SECTION END */


/* ! ABOUT SECTION START */

section#about{
  background: var(--page-third);
  display: flex;
  flex-direction: column;
  align-items: center;
}


section#about h2{
  all: unset;
  font-size: clamp(40px , 4vw, 64px);
}

.about-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.photos-container{
  position: relative;
  width: 400px;
  aspect-ratio: 1/1;
}
.photo{
  border: 1px solid var(--page-sec);
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 50% 12%;
  position: absolute;
}
.big{
  width: 300px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.medium{
  width: 200px;
  left: 0;
  bottom: 0;
}
.small{
  width: 150px;
  right: 0;
  bottom: 0;
}

.text-container{
  width: clamp(300px, 50%, 800px);
  background: var(--page-sec);
  color: var(--page-main);
  box-shadow: 4px 4px 100px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.gradient-move{
  /* background: linear-gradient(90deg, #9ACFFF 35.57%, #F26DF9 77.66%); */
  background-color: #F26DF9 ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

/* ! ABOUT SECTION ENDS */