<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <title>Jakub Tomczyk</title>
</head>
<body class="flex-column">
    <%- include('../includes/navbar')%>
        <header>
            <span class="title">Fron-End Developer & Designer</span>
            <div class="image-holder">
                <img src="/img/mainPhoto.png" alt="Jakub Tomczyk Photo">
                <h1 class="image-bottom" type="button">Jakub Tomczyk</h1>
            </div>
        </header>
        <section id="aboutme">
            <h2>About Me</h2>
            <h3>Hi, I'm <span class="underline">Jakub</span></h3>
            <span class="text">
                I am a front-end developer and an UI designer. 
                Being creative and brave is my way of doing things.
                I am in process of becoming a MERN-stack developer before September.

                Outside of programming you can find me in the gym or boxing ring.
            </span>
        </section>
        <section id="projects"></section>
        <section id="services"></section>
        <section id="contactme"></section>
    <%- include('../includes/footer')%>

</body>
</html>