<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/fontello/css/fontello.css">
    <title>Jakub Tomczyk - web developer & designer</title>
    <meta name="description" content="If you are looking for a front-end web developer & designer - Here I am">
    <meta name="keywords" content="Jakub Tomczyk, Portfolio, Tomczyk, Designer, Front-end, Web-developer">
    <meta>
</head>
<body>

    <%- include('../includes/navbar')%>
    <header>
        <div class="hero">
            <h1 class="name">Jakub Tomczyk</h1>
            <h2 class="proffesion"><%= locals.proffesion %></h2>
            <div class="mouse-icon">
                <svg width="24" height="37" viewBox="0 0 24 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Group 4">
                    <rect id="box" x="0.5" y="0.5" width="23" height="36" rx="11.5" stroke="white"/>
                    <rect id="scroll" x="10" y="8" width="4" height="8" rx="2" fill="white"/>
                    </g>
                </svg>
            </div>
            <div id="blob"></div>
            <div id="blur"></div>
        </div>
    </header>
    <section id="work">
        <h2><%= locals.workh2 %></h2>
        <div class="projects-container">
            <div class="project">
                <img src="./img/colors_design.png" alt="" class="project-img">
                <div class="project-text">
                    <span class="project-type">Design & Web</span>
                    <h3 class="project-name">Colors Project</h3>
                    <a href="#" class="project-more"><span>See more <i class="icon-right"></i></span></a>
                </div>
            </div>
            <div class="project" id="main">
                <img src="./img/galeria_design.png" alt="Restaurant Page Preview" class="project-img">
                <div class="project-text">
                    <span class="project-type">Design & Web</span>
                    <h3 class="project-name">Local Restaurant Page</h3>
                    <a href="#"  class="project-more"><span>See more <i class="icon-right"></i></span></a>
                </div>
            </div>
            <div class="project">
                <img src="./img/exam_design.png" alt="" class="project-img">
                <div class="project-text">
                    <span class="project-type">Design & Web</span>
                    <h3 class="project-name">Exam Solving Page</h3>
                    <a href="#" class="project-more"><span>See more <i class="icon-right"></i></span></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <h2>About Me</h2>
        <div class="about-info">
            <div class="photos-container">
                <img class="big photo" src="./img/mainPhoto.jpg" alt="">
                <img class="medium photo" src="./img/mainPhoto.jpg" alt="">
                <img class="small photo" src="./img/mainPhoto.jpg" alt=""></div>
            <div class="text-container">
                <div class="text-big">Hi, again I am <span class="gradient-move">Jakub</span></div>
                <div class="text">I believe simplicity is ART</div>
                <div class="text">I enjoy working on projects that bring something to the WORLD</div>
                <div class="text">Except for programming and designing I am a big enjoy-er of physical activity</div>
                <div class="text">In 6 months I will advance to MERN-stack developer </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <h4>Let's get in <span class="gradient-move">touch</span></h4>
    </section>
    <%- include('../includes/footer')%>
    <script src="./js/blob.js"></script>
</body>
</html>