<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/fontello/css/fontello.css">
    <title>Jakub Tomczyk</title>
</head>
<body class="flex-column">
    <%- include('../includes/navbar')%>
        <header>
            <span class="title">Fron-End Developer & Designer</span>
            <div class="image-holder">
                <img src="/img/mainPhoto.png" alt="Jakub Tomczyk Photo">
                <h1 class="image-bottom" type="button">Jakub Tomczyk</h1>
            </div>
        </header>
        <section id="aboutme">
            <h2>About Me</h2>
            <h3>Hi, I'm <span class="underline">Jakub</span></h3>
            <span class="text">
                I am a front-end developer and an UI designer. 
                Being creative and brave is my way of doing things.
                I am in process of becoming a MERN-stack developer before September.

                Outside of programming you can find me in the gym or boxing ring.
            </span>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <div class="projects-container">
                <div class="project-box">
                    <div class="img-container"><img src="/img/galeria_design.png" alt="Restaurant Page Image" class="project-img"></div>
                    <div class="project-type">Design & Web</div>
                    <div class="project-name">Restaurant Page</div>
                    <a href="#"class="project-demo">View demo <i class="icon-arrleft"></i></a>
                </div>
                <div class="project-box">
                    <div class="img-container"><img src="/img/exam_design.png" alt="Exams Solver Page Image" class="project-img"></div>
                    <div class="project-type">Design & Web</div>
                    <div class="project-name">Exams Solver Page</div>
                    <a href="#"class="project-demo">View demo <i class="icon-arrleft"></i></a>
                </div>
                <div class="project-box">
                    <div class="img-container"><img src="/img/colors_design.png" alt="Color App Image" class="project-img"></div>
                    <div class="project-type">Design & Web</div>
                    <div class="project-name">Color App</div>
                    <a href="#"class="project-demo">View demo <i class="icon-arrleft"></i></a>
                </div>
            </div>
        </section>
        <section id="services">
            <h2>Services</h2>

            <div class="services-container">
                <div class="color-smash">
                    <div class="smash red big"></div>
                    <div class="smash blue small"></div>
                    <div class="smash red big"></div>
                    <div class="smash blue small"></div>
                </div>
                <div class="services">
                    <div class="service-box">
                        <div class="service-title">Page Design</div>
                        <a href="mailto:contact@jakubtomczyk.com?subject=Page Design"  class="contact-button" >Contact Me</a>
                    </div>
                    <div class="service-box">
                        <div class="service-title">Email Design</div>
                        <a href="mailto:contact@jakubtomczyk.com?subject=Email Design" class="contact-button">Contact Me</a>
                    </div>
                    <div class="service-box">
                        <div class="service-title">Page Development</div>
                        <a href="mailto:contact@jakubtomczyk.com?subject=Page Development" class="contact-button">Contact Me</a>
                    </div>
                    <div class="service-box">
                        <div class="service-title">Email Development</div>
                        <a href="mailto:contact@jakubtomczyk.com?subject=Email Development" class="contact-button">Contact Me</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="contactme"></section>
    <%- include('../includes/footer')%>

</body>
</html>